{% extends 'base.html' %}
{% block conteudo %}
<!-- Bloco de conteúdo que será inserido na base.html -->

<div class="container">
    <h1 class="h1-form">Criar Aulas</h1>
    <!-- Formulário para criar uma nova aula -->
    <form method="post" class="create-class-form">
        <label for="title">Nome da Aula</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Descrição da Aula</label>
        <input type="text" id="description" name="description" required>
        <label for="hours">Carga Horária</label>
        <input type="number" id="hours" name="hours" required>
        <button type="submit">Criar Aula</button>
    </form>
</div>

{% endblock %}
<!-- Fim do bloco de conteúdo -->