{% extends 'base.html'%}

{% block conteudo %}
<!-- Bloco de conteúdo que será inserido na base.html -->

<div class="container">
    <section class="tab-aula">
      <div>
        <h1>Lista de Aulas</h1>
        <!-- Tabela para exibir a lista de aulas -->
        <table>
          <thead>
            <tr>
              <th>Nome da Aula</th>
              <th>Descrição da Aula</th>
              <th>Carga Horária da Aula</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop para percorrer todas as aulas e exibi-las na tabela -->
            {% for aula in aulas %}
            <tr>
              <td>{{ aula[0] }}</td> <!-- Nome da aula -->
              <td>{{ aula[1] }}</td> <!-- Descrição da aula -->
              <td>{{ aula[2] }} Horas</td> <!-- Carga horária da aula -->
              <td>
                <!-- Links para atualizar e deletar cada aula -->
                <a href="{{ url_for('aula.update_aula', line_number=loop.index0) }}">Atualizar</a>
                <a href="{{ url_for('aula.delete_aula', line_number=loop.index0) }}">Deletar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
</div>    

{% endblock %}
<!-- Fim do bloco de conteúdo -->