* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    padding: 10px 20px;
    height: 50px;
    align-content: center;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-home {
    margin-right: auto;
}

.btn-home-2 {
    color: #ddd;
    font-size: 20px;
    text-decoration: none;
}

.btn-nav {
    display: flex;
}

.list-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-nav li {
    margin-left: 20px;
}

.list-nav a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
}

.list-nav a:hover {
    background-color: #9a9a9a;
}

section {
    padding: 20px;
    margin: 80px 0;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

section th,
section td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

section th {
    background-color: #007BFF;
    color: white;
}

section tr:nth-child(even) {
    background-color: #f2f2f2;
}

section a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

section a:hover {
    background-color: #007BFF;
    color: white;
}

.tab-aula {
    background-color: #e9ecef;
}

.tab-evento {
    background-color: #f8f9fa;
}

footer {
    color: #ddd;
    background-color: #333;
    padding: 10px 20px;
    height: 50px;
    align-content: center;
    text-align: center;
}

footer p {
    font-size: 20px;
}

.create-class-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-class-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.create-class-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-class-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-class-form button:hover {
    background-color: #0056b3;
}

.h1-form{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}