{% extends 'base.html' %}
{% block conteudo %}
<!-- Bloco de conteúdo que será inserido na base.html -->

<div class="container">
    <h1 class="h1-form">Criar Evento</h1>
    <!-- Formulário para criar um novo evento -->
    <form method="post" class="create-class-form">
        <label for="title">Nome do Evento</label>
        <!-- Campo para inserir o nome do evento -->
        <input type="text" id="title" name="title" required>
        <label for="description">Descrição do Evento</label>
        <!-- Campo para inserir a descrição do evento -->
        <input type="text" id="description" name="description" required>
        <label for="date">Data do Evento</label>
        <!-- Campo para inserir a data do evento -->
        <input type="date" id="date" name="date" required>
        <!-- Botão para enviar o formulário e criar o evento -->
        <button type="submit">Criar Evento</button>
    </form>
</div>

{% endblock %}
<!-- Fim do bloco de conteúdo -->